@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url("https://use.typekit.net/pjh1zlv.css");

* {
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

body {
    font-family: ratio, serif;
}

.typewriter {
    font-family: ff-nexus-typewriter, monospace;
}