@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url("https://use.typekit.net/pjh1zlv.css");

body {
    font-family: ratio, serif;
    padding: 24px 24px 32px;
}

.typewriter {
    font-family: ff-nexus-typewriter, monospace;
}