@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: zeitung, sans-serif;
}

.typewriter {
    font-family: zeitung-mono, monospace;
}

span.linenumber { display: none; }